/* Top-bar */
.top-bar {
    background-color: deeppink;
    padding: 20px 0;
}

.top-bar-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.top-bar-container .social-icons {
    display: none;
}

.top-bar-container .register-login>a,
.register-login>span {
    text-decoration: none;
    padding: 3px;
    color: white;
}

.top-bar-container .social-icons ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.top-bar-container .social-icons ul>li {
    padding: 0 8px;
}

.top-bar-container .social-icons ul>li>a {
    text-decoration: none;
    color: white;
}

/* Tablet */
@media only screen and (min-width:768px) {
    .top-bar-container {
        justify-content: space-between;
    }

    .top-bar-container .social-icons {
        display: block;
    }
}

/* Nav  */
.nav-top {
    padding: 12px 16px;
    position: relative;
}

.nav-top-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-top-container .logo-nordic {
    width: 50%;
}

.nav-top-container .logo-nordic>img {
    height: 100%;
}

.nav-top .menu {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;

    width: 80%;
}

.nav-top ul.menu-top-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 80;

    height: 0;
    width: 100%;

    text-align: center;

    transition: all 0.5s linear 0s;
    overflow: hidden;
}

.nav-top ul.menu-top-list.open {
    /* display: none; */
    height: 210px;
    background-color: #eff3f7;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, .2);
}


.nav-top-container .top-icon {
    width: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.nav-top-container .top-icon .search-icon {
    border-radius: 6px;

    background-color: deeppink;
    color: white;
}

.nav-top-container .top-icon .search-icon>i {
    padding: 8px;
    transition: all .25s;
}

.nav-top-container .top-icon .search-icon>i:hover {
    border: 1px solid deeppink;
    border-radius: 6px;
    background-color: #fff;
    color: deeppink;
    cursor: pointer;
}

.nav-top ul.menu-top-list>li {
    margin: 0 8px;
    padding: 8px 0;
}

.nav-top ul.menu-top-list>li>a {
    text-decoration: none;
    color: #000000;
    transition: all .25s;
}

.nav-top-container .menu ul>li.recent-page a {
    color: deeppink;
}

.nav-top-container .menu ul>li:hover a {
    color: deeppink;
}

.hamburger-menu {
    width: 35px;
    height: 30px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    cursor: pointer;
}

.hamburger-menu>div {
    height: 4px;
    border-radius: 4px;
    transition: all .5s;
    background-color: #000000;
}

.hamburger-menu.open>div:nth-child(1) {
    transform-origin: bottom left;
    transform: rotate(45deg);
}

.hamburger-menu.open>div:nth-child(2) {
    transition: all .25s;
    opacity: 0;
}

.hamburger-menu.open>div:nth-child(3) {
    transform-origin: top left;
    transform: rotate(-45deg);
}

.nav-top .hamburger-menu-wrapper {
    display: inline-block;
}

/* Tablet */
@media only screen and (min-width:768px) {

    .nav-top-container .top-icon {
        justify-content: flex-end;
    }

    .nav-top .hamburger-menu-wrapper {
        display: none;
    }

    .nav-top ul.menu-top-list.open,
    .nav-top ul.menu-top-list {
        position: static;
        display: flex;
        flex-flow: row nowrap;
        height: auto;
        width: auto;
        box-shadow: none;
        white-space: nowrap;
    }

    .nav-top ul.menu-top-list>li {
        padding: 0;
        width: auto;
    }
}

/* Desktop large */
@media only screen and (min-width:992px) {
    .nav-top-container .menu ul>li {
        padding: 0 16px;
    }
}

/* Desktop extra large */
@media only screen and (min-width:1200px) {
    .nav-top-container .menu ul>li {
        padding: 0 20px;
    }
}

/* Hero */
section.hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    background-image: url(../images/page-top-bg.jpg);
    background-size: cover;
    background-position: center;

    padding: 70px 0;
}

section.hero h1 {
    font-size: 30px;

    color: white;
    background-color: deeppink;

    padding: 16px 48px;
    border-radius: 4px;
    box-shadow: 0px 60px 90px rgba(0, 0, 0, .8);

    animation-name: zoom;
    animation-duration: .35s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Scroll top */
#myButton {
    position: fixed;
    bottom: 16px;
    right: 16px;

    opacity: 0;

    padding: 8px 12px;
    border: none;
    border-radius: 50%;

    background-color: deeppink;
    color: white;

    z-index: 99;
    transition: all .35s;
    cursor: pointer;
}